{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  {# Top Nav #}
  <div class="top-navbar text-white" style="background-color: #3C3C3C;">
    <div class="container flex justify-between items-center py-2">
     

      {# Left side - Search and Profile #}
      <div class="flex items-center gap-3">
          {# Search icon #}
          <button class="text-white hover:text-gray-300" aria-label="search-icon" onclick="salla.event.dispatch('search::open')">
            <i class="sicon-search text-lg"></i>
          </button>
          <salla-search-modal></salla-search-modal>
          
          {# Profile icon #}
          {% if user.type=='user' %}
            <salla-user-menu avatar-only show-header class="text-white"></salla-user-menu>
          {% else %}
              <button class="text-white hover:text-gray-300" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                <i class="sicon-user-circle text-lg"></i>
              </button>
          {% endif %}
      </div>
      {# Center - Logo #}
      <div class="flex-1 flex justify-center">
          <a class="navbar-brand" href="{{ store.url }}">
              <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo" class="max-h-8">
              {% if is_page('index') %}
                <h1 class="sr-only">{{ store.name }}</h1>
              {% else %}
                <h2 class="sr-only">{{ store.name }}</h2>
              {% endif %}
          </a>
      </div>
       {# Right side - Language #}
      <div class="flex items-center">
          {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
              <button type="button" onclick="salla.event.dispatch('localization::open')" class="text-white text-sm hover:text-gray-300">
                  <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm mr-1"></span>
                  {{ user.language.name }}
              </button>
              <salla-localization-modal></salla-localization-modal>
          {% endif %}
      </div>
    </div>
  </div>

  {# Main Nav #}
  <div id="mainnav" class="main-nav-container shadow-default bg-black">
      <div class="inner bg-inherit">
          <div class="container">
              <div class="flex items-stretch justify-center relative">
                  <div class="flex items-center">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="sicon-menu text-primary text-2xl"></i>
                      </a>
                     
                      <custom-main-menu></custom-main-menu>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
